.standard-card {
  padding: 18px 24px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);

  &-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    border-bottom: 1PX #d6e4ef solid;
    position: relative;
    border-bottom: 1px solid #ededed;
    padding: 12px;

    &-title {
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      display: block;
      font-weight: 500;
      color: #444;
      font-size: 26px;
    }

    &-more {
      font-size: 24px;
      color: #aaa;
    }
  }

  &-content {

  }
}
