.index-banner {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__img {
      width: 700px;
      height: 300px;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
