.product__detail-specification {

  &-title {
    font-size: 26px;
  }

  &-preview {
    margin-top: 20px;
    align-items: center;

    image {
      width: 90px;
      height: 90px;
      border: 1px solid #ededed;
      border-radius: 5px;
      margin-right: 20px;
    }

    text {
      color: rgb(201, 201, 201);
      padding: 10px 20px;
      font-size: 26px;
      background: rgb(246, 246, 246);
      border-radius: 30px;
    }
  }
}
