.user__tool {
  position: relative;
  width: 700px;
  border-radius: 15px;
  margin: 20px 25px 0 25px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  top: -100px;

  &-list {

    &-item {
      margin-top: 10px;
      position: relative;
      color: #58595b;
      font-size: 24px;
      -webkit-flex-direction: column;
      flex-direction: column;
      justify-content: center;
      display: flex;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;


      image {
        height: 72px;
        width: 72px;
        margin-bottom: 5px;
      }

      text {
        color: #444;
      }
    }
  }
}
